.post__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100px 1fr;
}

.item:not(:last-child) {
    margin-bottom: 30px;
}
.avatar {
    width: 80px;
    display: inline-block;
}
.text {
    padding: 0 10px;
    margin: 0;
    display: inline-block;
}